h1 {
    text-align: center;
    font-size: 40px;
    font-family: fantasy;
    color: black;
}

header {
    border: hidden;
    background-color: purple;
    margin-bottom: 30px;
}

.main,
.wrapper {
    margin-left: 20px;
    color: yellow;
    font-family: fantasy;
}

p {
    font-size: 25px;
}

#letter {
    display: -webkit-inline-flex;
    list-style-type: none;
    font-size: 15px;
    margin-left: 10px;
    cursor: pointer;
    border: hidden;
    background: gray;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

#clue {
    color: white;
    margin-left: 40px;
}

#letter:hover {
    background: #c1d72e;
    border: solid 1px #fff;
    color: #fff;
}

.guess {
    list-style-type: none;
    display: inline-block;
    margin-left: 20px;
    color: white;
}

#lives,
#hintPrompt,
#guessesLetter,
#mylives {
    font-size: 25px;
    font-family: fantasy;
    margin-left: 50px;
    color: white;
}

.container {
    margin-top: 40px;
    margin-bottom: 40px;
}

#hold {
    margin-top: 40px;
    margin-bottom: 40px;
}

.button {
    text-align: center;
}

#hint,
#reset {
    text-align: center;
    padding: 10px;
    width: 100px;
    background: #c1d72e;
    border: solid 1px #fff;
    color: black;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}

#hint:hover,
#reset:hover {
    background: white;
}

#hint {
    margin-right: 20px;
}

#maine {
    display: none;
}